/* Backend CSS */

body{
	padding-top: 40px;
}
body hr{
	border: none;
	padding: 0px;
}
option[disabled] {
display: none;
}
option {
color: #000;
}
.main{
	margin: 50px 0px 50px 0px;
}
.main option{
	height: 30px;
}
.item{
	height: 350px;
	max-height: 350px;
}
.item img{
	width: 100%;
	height: 100%;
}
.setting{
	line-height: 48px;
}
.setting button{
	margin-right: 15px;
}
.panel-title{
	text-transform: uppercase;
	font-weight: bold; 
}
.panel span{
	padding: 0px 15px 0px 0px;
}
.panel .col-sm-3{
	padding-bottom: 20px;
	padding-top: 20px;

}
.panel-body img{
	padding: 10px;
	width: 150px;
	height: 100px;
	border: solid 1px #ccc;
	border-radius: 5px;	
}
.panel-body img:hover{
	border: solid 1px #999;
	box-shadow: 0px 5px 15px ;
}